@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header end  */
header {
    background-image: url('/assets/images/1e4093a46480b71a5402f5e331d9bdb75cc82793.jpg');
    height: 860px;
    background-size: cover;
    width: 100%;
    background-position: center;

}

.header_main {
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.contact {
    color: white;
    display: flex;
    gap: 20px;
    padding-right: 60px;
    align-items: center;
}

.usericon i {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 9px;
    font-size: 10px;
}

.add-listing {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50px;
    padding: 7px 26px;
    background: transparent;
    color: white;
}

.hamburger {
    display: none;
}

/* header end */
/* Hero start */
.hero {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.hero p {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
}

.hero .dash {
    position: relative;
    top: 21px;
}

.hero h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: rgba(255, 255, 255, 1);
}

.hero .dollar {
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
}

.hero .month {
    font-weight: 400;
    font-size: 14.7px;
    line-height: 22.05px;
}

.hero button {
    border: 1px solid rgba(231, 200, 115, 1);
    background: rgba(231, 200, 115, 1);
    color: rgba(26, 26, 26, 1);
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    border-radius: 12px;
}

/* Hero End */

/* card section start */
.cities_card {
    padding: 200px 0;
}

.card_text {
    margin-bottom: 30px;
}

.card_text h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
}

.card_text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    letter-spacing: 0%;
    text-align: center;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 256px;
    height: 318.78px;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 20px;
    color: white;
}

.newyork {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%), url(/assets/images/h36.jpg.png);
}

.chicago {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%), url(/assets/images/h37.jpg.png);
}

.losangeles {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%), url(/assets/images/h38.jpg.png);
}

.miami {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%), url(/assets/images/h39.jpg.png);
}

.florida {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%), url(/assets/images/h310.jpg.png);
}

/* card section end  */

/* icon section start */
.icons {
    text-align: center;
    padding-bottom: 175px;
}

.icon_text h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
}

.icon_text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
}

.icon_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.icon_img {
    font-size: 59px;
}

.cards h3 {
    padding-top: 28px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25.2px;
}

.cards p {
    padding-top: 15px;
    width: 321px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
}

/* icon section end */

/* create account section start */

.create_account {
    padding-inline: 135px;
    background: rgba(31, 75, 67, 1);
    border-radius: 16px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account_text {
    width: 1160px;
    height: 242.3px;
}

.account_text h2 {
    padding-top: 85px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.account_text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    color: white;
}


.sign_btn {
    width: 272px;
    height: 54px;
    background: rgba(231, 200, 115, 1);
    padding: 2px 30px;
    border-radius: 12px;
    border: 1px solid rgba(231, 200, 115, 1);

}

.sign_btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    color: rgba(31, 75, 67, 1);
}

/* create account section end */

/* View properties section start */

.view_properties {
    background-image: url(/assets/images/60ce1ce2d0b32b58eb6b4d9aa832e29ceb60cef1.jpg);
    height: 750.78px;
    margin-top: 165px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.properties_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.properties_text h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 592px;
}

.properties_text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    color: white;
}

.view_btn {
    width: 191.36px;
    height: 54px;
    border-radius: 12px;
    background: rgba(231, 200, 115, 1);
    font-weight: 500;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    color: rgba(31, 75, 67, 1);
    border: 1px solid rgba(231, 200, 115, 1);
    margin-top: 30px;
    cursor: pointer;
}

/* view properties section end */

/* Appreciation section start */

.real_estate {
    padding: 60px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.appreciation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.real_estate_text {
    width: 50%;
    padding-left: 20px;
}

.real_estate_text h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    width: 500px;
    margin-bottom: 10px;
}

.real_estate_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    width: 557px;
}

.realestate_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.realestate_text .box {
    width: 50%;
}

.realestate_text h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.real_estate_text button {
    border: 1px solid rgba(231, 200, 115, 1);
    background: rgba(231, 200, 115, 1);
    color: rgba(26, 26, 26, 1);
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    border-radius: 12px;
    margin-top: 20px;
}

/* Appreciation section end */

/* customer review section start */
.customer_review {
    background: rgba(26, 26, 26, 1);
    height: 594px;
    color: #f5f5f5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.customer_review_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer_review_left {
    padding-top: 227px;
}

.customer_review_left h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    width: 428.56px;
}

.customer_review_text {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.customer_text h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 33.8px;
}

.customer_text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 37.5px;
}

.customer_review_right {
    padding-top: 165px;
}

.customer_review_image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quote {
    margin-left: 195px;
    font-size: 45px;
    color: rgba(231, 200, 115, 1);
}

.customer_text_review p {
    margin-top: 30px;
    width: 546px;
    font-weight: 500;
    font-size: 19px;
    line-height: 36.1px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.left {
    border: 1px solid white;
    padding: 13.5px 23.5px;
    border-radius: 40px;
    cursor: pointer;
}

.right {
    border: 1px solid white;
    padding: 13.5px 23.5px;
    border-radius: 40px;
    margin-left: 25px;
    cursor: pointer;
}

/* customer review section end */

/* brand logos section start */

.brand_logos {
    height: 345.3px;
    background: rgba(26, 26, 26, 1);
    color: rgba(255, 255, 255, 1);
    padding-top: 86px;
}

.brand_logos p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
}

.brand_logo_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

/* brand logos section end */

/* rent property card section start */

.rent_articles {
    padding: 60px 20px;
    background: #fff;
    text-align: center;
}

.article_text h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.article_text p {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.rent_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.news_card {
    width: 328px;
    height: 387.98px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.news_card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card_content small {
    font-size: 15px;
    color: #999;
    display: block;
    line-height: 28.5px;
    font-weight: 400;
}

.card_content h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 25.84px;
}

.card_content a {
    margin-top: 15px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

/* rent property card section end */